<section class="courses">
    <div class="courses-container container">
      <div class="courses-wrap">
        <h2 class="courses-title">Our <span class="courses-span">Courses</span></h2>
        <p class="courses-desk">
          At our photography school, we offer a variety of courses that cover all aspects of this
          fascinating art. Regardless of your experience or skill level, we have courses to suit
          your needs and goals.
        </p>
      </div>
      <ol class="courses-list">
        <li class="courses-item">          
          <h3 class="courses-subtitle">Basics of photography</h3>
          <p class="courses-text">
            During this course, you will be able to familiarize yourself with different types of
            cameras, learn the basics of composition.
          </p>
          <a class="courses-item-link" href="./signup.html">
            <svg class="courses-item-icon" width="20" height="20">
              <use href="./public/sprite.svg#icon-arrow-narrow-up-right"></use>
            </svg>
          </a>
        </li>
        <li class="courses-item">          
          <h3 class="courses-subtitle">Landscape photography</h3>
          <p class="courses-text">
            In this course, you'll learn how to choose the right angles, frame landscapes, and
            create depth and perspective in your images.
          </p>
          <a class="courses-item-link" href="./signup.html">
            <svg class="courses-item-icon" width="20" height="20">
              <use href="./public/sprite.svg#icon-arrow-narrow-up-right"></use>
            </svg>
          </a>                    
        </li>
        <li class="courses-item">          
          <h3 class="courses-subtitle">Portrait photography</h3>
          <p class="courses-text">
            During this course, you will learn to choose the right lighting, reproduce the mood and
            expressions on the faces of the models.
          </p>
          <a class="courses-item-link" href="./signup.html">
            <svg class="courses-item-icon" width="20" height="20">
              <use href="./public/sprite.svg#icon-arrow-narrow-up-right"></use>
            </svg>     
          </a>
        </li>
      </ol>
    </div>
  </section>