<header class="container header-container">
        <nav class="header-nav">
            <a href="./index.html" class="header-logo">
                <svg class="header-logo-icon" width="123" height="16">
                    <use href="./public/sprite.svg#icon-logo-focus_frame"></use>
                </svg>
            </a>
            <ul class="header-menu">
                <li class="header-menu-item">
                    <a href="./index.html#about" class="header-link">About us</a>
                </li>
                <li class="header-menu-item">
                    <a href="./index.html#courses" class="header-link">Our courses</a>
                </li>
                <li class="header-menu-item">
                    <a href="./index.html#mentors" class="header-link">Our mentors</a>
                </li>
                <li class="header-menu-item">
                    <a href="./index.html#reviews" class="header-link">Reviews</a>
                </li>
                <li class="header-menu-item">
                    <a href="./index.html#footer" class="header-link">Contacts</a>
                </li>
                
            </ul>

            <div class="header-mob-btn">                
                <a href="./index.html#sign-up" class="header-mobile-btn-link" aria-label="Go to sign up">
                    <svg class="header-mobile-btn-icon" width="16" height="16">
                        <use href="./public/sprite.svg#icon-camera"></use>
                    </svg>
                </a>
                

                <button class="header-menu-btn" type="button" aria-label="Open menu button">
                    <svg class="header-menu-btn-icon" width="32" height="22">
                        <use href="./public/sprite.svg#icon-open-menu"></use>
                    </svg>
                </button>
            </div>
        </nav>

        <button class="header-btn" aria-label="Sign up button">
           <a href="./index.html#sign-up" class="header-btn-link">Sign up</a>
        </button>
</header>

 <!-- Mobile menu -->
 <div class="backdrop is-ope n">
 <div class="mobile-menu">
    <button class="mobile-menu-btn" type="button">
        <svg class="xclose-btn-mob" width="32" height="32">
            <use href="./public/sprite.svg#xclose-btn-mob"></use>
        </svg>
    </button>

    <ul class="mobile-menu-list">
        <li class="mobile-menu-item menu-current">
            <a href="./index.html#about" class="mobile-menu-link current">About us</a>
        </li>
        <li class="mobile-menu-item">
            <a href="./index.html#courses" class="mobile-menu-link">Our courses</a>
        </li>
        <li class="mobile-menu-item">
            <a href="./index.html#mentors" class="mobile-menu-link">Our mentors</a>
        </li>
        <li class="mobile-menu-item">
            <a href="./index.html#reviews" class="mobile-menu-link">Reviews</a>
        </li>
        <li class="mobile-menu-item">
            <a href="./index.html#footer" class="mobile-menu-link">Contacts</a>
        </li>
    </ul>

    <div  class="mobile-menu-image">
    </div>
</div>
</div>