<section class="mentors" id="mentors">
    <div class="container team-content">
        <h2 class="team-hed">Our <span class="team-hed-color">Mentors</span></h2>
        <ul class="team-list">
            <li class="team-collection">
                <img 
                    class="team-img"
                    src="./img/mentors/mentor1@1x.jpg"
                    srcset="./img/mentors/mentor1@1x.jpg 1x, ./img/mentors/mentor1@2x.jpg 2x"
                    alt="Emilia Smith"
                    width="180"
                    height="180">
                <div class="list-info">
                    <h3 class="team-names">Emilia Smith</h3>
                    <p class="team-items">1.5 years of experience</p>
                </div>
            </li >
            <li class="team-collection">
                <img 
                    class="team-img"
                    src="./img/mentors/mentor2@1x.jpg"
                    srcset="./img/mentors/mentor2@1x.jpg 1x, ./img/mentors/mentor2@2x.jpg 2x"
                    alt="Alex Lebedev"
                    width="180"
                    height="180">
                <div class="list-info">
                    <h3 class="team-names">Alex Lebedev</h3>
                    <p class="team-items">3.5 years of experience</p>
                </div>
            </li>
            <li class="team-collection">
                <img 
                    class="team-img"
                    src="./img/mentors/mentor3@1x.jpg"
                    srcset="./img/mentors/mentor3@1x.jpg 1x, ./img/mentors/mentor3@2x.jpg 2x"
                    alt="Mia Dubrovska"
                    width="180"
                    height="180">
                <div class="list-info">
                    <h3 class="team-names">Mia Dubrovska</h3>
                    <p class="team-items">2.0 years of experience</p>
                </div>
            </li>
            <li class="team-collection">
                <img 
                    class="team-img"
                    src="./img/mentors/mentor4@1x.jpg"
                    srcset="./img/mentors/mentor4@1x.jpg 1x, ./img/mentors/mentor4@2x.jpg 2x"
                    alt="Eliot Kovalev"
                    width="180"
                    height="180">
                <div class="list-info">
                    <h3 class="team-names">Eliot Kovalev</h3>
                    <p class="team-items">4.0 years of experience</p>
                </div>
            </li>
        </ul>
    </div>
</section>