.footer {
    padding-top: 40px;
    padding-bottom: 20px;
    border-top:  1px solid rgba(255, 255, 255, 0.20);

    background-image: url('/img/hero/Graphic.png');
    background-repeat: repeat;
}

@media screen and (min-width: 320px) {
    .footer {
        background-image: url('/img/footer/Graphic_mob.png');
}}

@media screen and (min-width: 768px) {
    .footer {
        padding-top: 50px;
        padding-bottom: 25px;
        background-image: url('/img/footer/Graphic_tab.png');
}}

@media screen and (min-width: 1280px) {
    .footer {
        background-image: url('/img/footer/Graphic_desk.png');
}}

/* Logo */

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}

@media screen and (min-width: 768px){
    .footer-logo {
        margin-bottom: 25px;
}}

.footer-svg {
    min-width: 127px;
    min-height: 20px;
    flex-shrink: 0;
    fill: #fff;
}

@media screen and (min-width: 768px) {
.footer-svg {
    min-width: 123px;
    min-height: 16px;
}}

/* Address */

@media only screen and (max-width: 767.98px) {
  .cover {
    margin-bottom: 40px;    
  }
}

.footer-address {
    font-size: 14px;
    font-style: normal;
    line-height: 1.28;/* 18px/14 */
    text-transform: uppercase;
}

@media screen and (min-width: 768px) {
    .footer-address {
        margin-right: 58px;
}}

@media screen and (min-width: 1280px) {
    .footer-address {
        margin-right: 285px;
}}

.address-link {
    display: block;
    margin-bottom: 10px;
}

.address-text {
    text-transform: none;
}

@media screen and (min-width: 768px) {
    .cover {
    display: flex;
    flex-direction: column;
}}

@media screen and (min-width: 768px) {
    .wrapper {
        display: flex;
}}

/* Social media */

.thumb {
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    margin-bottom: 75px;    
}

@media screen and (min-width: 768px) {
    .thumb {         
        column-gap: 25px;
        margin-bottom: 74px;
}}

@media screen and (min-width: 1280px) {
    .thumb {
        column-gap: 50px;
        margin-bottom: 50px;
}}

.footer-socmedialist,
.footer-navmenu {
    font-size: 14px;
    text-transform: uppercase;
}

.socmedia-item:not(:last-child) {
    margin-bottom: 14px;  
}

@media screen and (min-width: 1280px) {
  .socmedia-item:not(:last-child) {
    margin-bottom: 20px;
}}


/* Anchor links */

.navmenu-item:not(:last-child) {
    margin-bottom: 14px;
}

@media screen and (min-width: 1280px) {
    .navmenu-item:not(:last-child) {
        margin-bottom: 20px;
}}

.navmenu-item {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navmenu-item:hover,
.navmenu-item:focus {
    color: rgba(190, 166, 158, 1);
}


/* Subscribe */

@media screen and (max-width: 767.98px) {
    .footer-form {
    margin-top: 75px;
    margin-bottom: 40px;
}}

.footer-form {
    margin-left: auto;
}

.footer-label {
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer-input {
    max-width: 267px;
    flex-grow: 1;
    height: 60px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 12px;
    outline: transparent;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 18px;
    
    background-color: rgba(18, 18, 18, 1);
    color: rgba(255, 255, 255, 1);
}

@media screen and (min-width: 768px) {
.footer-input {
    max-width: 178px;
}}

@media screen and (min-width: 1280px) {
.footer-input {   
    max-width: 216px; 
}}

.footer-input::placeholder {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(18, 18, 18, 1);
    opacity: 0.7;
    font-size: 16px;
    line-height: 1.25;/* 20px/16 */
}

.footer-input:placeholder-shown {
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 1);
}

.footer-btn {
    border: none;
    border-radius: 12px;
    background: rgba(29, 29, 29, 1);
    outline: transparent;
    padding: 18px 17px 18px 16px;

    color: rgba(255, 255, 255, 1);
    text-align: center;
    font-size: 20px;
    line-height: 1.20;/* 24px/20 */
}

.policy-link,
.footer-copyright {
    font-size: 12px;
    line-height: 1.33; /* 16px/12 */
}

.policy-link {
    width: 147px;
}

@media screen and (min-width: 768px) {
    .policy-link {
        width: 171px;
}}

.footer-copyright {
    width: 116px;
}

@media screen and (min-width: 768px) {
    .footer-copyright {
        width: 134px;
}}

@media screen and (min-width: 768px) {
.policy-link,
.footer-copyright {
    font-size: 14px;
    line-height: 1.28; /* 18px/14 */
}}

.term {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
