.header-container {
  display: flex;
  padding-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  align-items: center;
}

.header-nav {
  display: flex;
  padding: 0 20px;
  border-radius: 12px;
  outline: 1px solid rgba(255, 255, 255, 0.20);
  background: #121212;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header-logo-icon {
  fill: #fff;
}

.header-logo {
  display: block;
  padding: 20px 0;
}

@media only screen and (max-width: 374.98px) {
  .header-logo {
    width: 127px;
  }
}

.header-menu {
  display: none;
  visibility: hidden;
}

.header-link {
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-mob-btn {
  display: flex;
  gap: 14px;
  justify-content: center;
  align-items: center;
}

.header-mobile-btn-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background: #1D1D1D;    
  width: 32px;
  height: 32px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-mobile-btn-icon {
  fill: rgba(190, 166, 158, 0.4);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-mobile-btn-link:hover .header-mobile-btn-icon {
  fill: #BEA69E;
}

.header-menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #121212;
  border: 0;
  padding: 0;
  stroke: #fff;
}

.header-btn {
  display: none;
  visibility: hidden;
}

.header-btn:hover,
.header-btn:focus,
.header-btn:active {
  background: #1D1D1D;
  color: #BEA69E;
}

.header-link:hover,
.header-link:focus,
.header-link:active {
  color: #BEA69E;
}

@media only screen and (min-width: 768px) {

  .header-container {
    margin-bottom: 40px;
  }

  .header-logo {
    margin-right: 301px;
  }

  .header-btn {
    display: flex;
    visibility: visible;
    min-width: 186px;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background: #FFF;
    margin-left: 20px;
    color: #121212;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.55;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    border: 0;
    white-space: nowrap;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-btn-link {
    padding: 16px 58px;
  }

  .header-mobile-btn-link {
    display: none;
    visibility: hidden;
  }

  .header-menu-btn-icon {
    width: 40px;
    height: 28px;
  }
}

@media only screen and (min-width: 1280px) {
  
  .header-container {
    margin-bottom: 80px;
  }

  .header-logo {
    margin-right: 97px;
    padding: 20px 0;
  }

  .header-nav {
    padding: 0 50px;
  }

  .header-menu {
    display: flex;
    visibility: visible;
    text-align: center;
    gap: 28px;
    flex-shrink: 0;
  }

  .header-btn {
    min-width: 238px;
  }

  .header-btn-link {
    padding: 16px 84px;
  }

  .header-menu-btn {
    display: none;
    visibility: hidden;
  }
}


/* Mobile menu */

.backdrop {
  background-color: rgba(18, 18, 18, 0.40);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transition: opasity 300ms ease-in, visibility 300ms ease-in;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 218px;
  height: 100vh;
  background-color: #BEA69E;
  padding: 180px 101px 0 20px;
  display: flex;
  flex-direction: column;
  transition: transform 300ms ease, visibility 300ms ease;
  justify-content: space-between;
}

.mobile-menu-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: #BEA69E;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding: 0;
  stroke: #121212;
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 100;
}

.mobile-menu-item {
  color: #121212;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.menu-current {
  font-weight: 700;
}

.mobile-menu-image {
  height: 329px;
  width: 218px;
  background-image: url(../img/header/header_mob@1x.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  position: absolute;
  bottom: 0;
  left: 0;
}

@media (min-resolution: 192dpi) {
  .mobile-menu-image {
    background-image: url(../img/header/header_mob@2x.jpg);
  }
}

@media only screen and (min-width: 768px) {
  .mobile-menu-image {
    background-image: url(../img/header/header_tab@1x.jpg);
  }
}

@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .mobile-menu-image {
    background-image: url(../img/header/header_tab@2x.jpg);
  }
}

@media only screen and (min-width: 768px) {
  .mobile-menu-image {
    height: 476px;
    width: 480px;
  }
  
  .mobile-menu {
    width: 480px;
  }
}

@media only screen and (min-width: 1280px) {
  .backdrop {
    display: none;
    visibility: hidden;
  }
}