/****************MOBILE***************/
.sign-up {
  padding: 40px 0;
}
.sign-up_title {
  font-size: 28px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -1.12px;
  margin-bottom: 20px;
}
.sign-up_title-span {
  color: #bea69e;
}
.sign-up_text {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.28px;
  width: 295px;
  margin-bottom: 40px;
}
.modal-input {
  width: 100%;
  height: 46px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: transparent;
  color: #fff;
  padding-left: 18px;
  padding-right: 18px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 8px;
}
.modal-input:focus {
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.modal-input::placeholder {
  font-size: 16px;
  line-height: 20px;
}
.modal-textarea {
  width: 100%;
  height: 112px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: transparent;
  color: #fff;
  padding: 18px 14px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
  margin-bottom: 40px;
}
.modal-textarea:focus {
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.modal-textarea::placeholder {
  font-size: 16px;
  line-height: 20px;
}
.sign-up_btn {
  display: flex;
  width: 100%;
  padding: 14px 0;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 20px;
  border: none;
}
.sign-up_info {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  line-height: 16px;
  font-style: normal;
  font-weight: 400;
}
.sign-up_privacy {
  text-decoration-line: underline;
  display: inline-flex;
}
.sign-up_img {
  display: none;
}

/****************TABLET***************/
@media screen and (min-width: 768px) {
  .sign-up {
    padding: 50px 0;
  }
  .sign-up_main {
    max-width: 480px;
  }
  .sign-up_title {
    font-size: 48px;
    line-height: 54px;
    letter-spacing: -1.92px;
  }
  .sign-up_text {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.32px;
    width: 480px;
  }
  .modal-input {
    height: 60px;
    border-radius: 12px;
    margin-bottom: 14px;
  }
  .modal-input::placeholder {
    font-size: 16px;
    line-height: 20px;
  }
  .modal-textarea {
    height: 119px;
    padding: 20px 18px;
  }
  .modal-textarea::placeholder {
    font-size: 16px;
    line-height: 20px;
  }

  .sign-up_btn {
    font-size: 18px;
  }

  .sign-up_info {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
  }
}

/****************DESKTOP***************/
@media screen and (min-width: 1280px) {
  .sign-up {
    padding: 75px 0;
  }
  .sign-up_position {
    display: flex;
    justify-content: space-between;
  }
  .sign-up_img {
    display: flex;
    align-items: flex-end;
    gap: 20px;
  }
  .sign-up_object {
    width: 180px;
    height: 288px;
    border-radius: 1000px;
    background-color: #bea69e;
    margin-bottom: 40px;
  }
  .sign-up_object img {
    display: block;
    max-width: 100%;
    height: auto;
    transform: translate(-28px, 65px);
  }
  .sign-up_camera {
    width: 350px;
    height: 540px;
    border-radius: 1000px;
    background-color: #1d1d1d;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }
}
