
@import url('./reset.css');
@import url('./base.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./advertisement.css');
@import url('./about.css');
@import url('./courses.css');
@import url('./mentors.css');
@import url('./singup.css');
@import url('./reviews.css');
@import url('./footer.css');

